<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This is used for biometric authentication</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This is used for uploading photos</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<!-- Privacy Accessed -->
	<key>NSPrivacy</key>
	<dict>
		<key>NSPrivacyAccessedAPITypes</key>
		<array>
			<string>diskSpace</string>
			<string>fileTimestamp</string>
			<string>userDefaults</string>
			<string>activeKeyboards</string>
		</array>
		<key>NSPrivacyAccessedReason</key>
		<dict>
			<key>diskSpace</key>
			<string>Our app uses the disk space API to store user-generated content, such as images and videos, locally on the device. This allows users to access their content even when they're offline.</string>
			<key>fileTimestamp</key>
			<string>Our app uses the file timestamp API to track the last modified date of user-generated files. This information is used to display the most recent files to the user and to sync changes across multiple devices.</string>
			<key>userDefaults</key>
			<string>Our app uses the user defaults API to store user preferences and app settings. This allows users to customize their experience and helps the app remember user choices between sessions.</string>
			<key>activeKeyboards</key>
			<string>Our app uses the active keyboards API to detect when a user switches between different input methods. This information is used to provide a seamless user experience by adapting the app's interface to the currently active keyboard.</string>
		</dict>
	</dict>
</dict>
</plist>
